
<table blue-purple mat-table [dataSource]="mostrarCursos$" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="profesor">
    <th mat-header-cell *matHeaderCellDef> Profesor </th>
    <td mat-cell *matCellDef="let element"> {{element.profesor}} </td>
  </ng-container>

  <ng-container matColumnDef="curso">
    <th mat-header-cell *matHeaderCellDef> Curso </th>
    <td mat-cell *matCellDef="let element"> {{element.curso}} </td>
  </ng-container>

  <ng-container matColumnDef="comision">
    <th mat-header-cell *matHeaderCellDef> comision </th>
    <td mat-cell *matCellDef="let element"> {{element.comision}} </td>
  </ng-container>


  <ng-container matColumnDef="eliminar">
    <th mat-header-cell *matHeaderCellDef> Eliminar</th>
    <td mat-cell *matCellDef="let element">
    <button mat-icon-button (click)="eliminarCurso(element)">
      <mat-icon>delete</mat-icon>
    </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="mostrarColumnas"></tr>
  <tr mat-row *matRowDef="let row; columns: mostrarColumnas;"></tr>

</table>



{{mostrarCursos$ | async | json}}

