/* You can add global styles to this file, and also import other style files */
body{
  background-image: url(https://fondosmil.com/fondo/17010.jpg);
  background-position: top center;
  background-size: 105%;
  background-repeat: no-repeat;
}
