

<form action="element">

    <mat-form-field appearance="outline">
        <mat-label>Nombre Profesor</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Apellido Profesor</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Nombre Profesor</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Comision</mat-label>
        <input matInput>
    </mat-form-field>

</form>